<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>RPi Media API</title>
</head>

<body>
    <div class="w3-row headers">
        <div class="w3-col s6 title">
            <h2>RPi Media API</h2>
        </div>
        <div class="w3-col s6">
            <p>Audio output:</p>
            <div class="switch-button">
                <input id="audio-ouput" class="switch-button-checkbox" type="checkbox" onclick="switchAudioDevice()"></input>
                <label class="switch-button-label" for=""><span class="switch-button-label-span">Analog</span></label>
                <input id="audio-device" type="checkbox" value="0" hidden />
            </div>
        </div>
    </div>
    <div class="w3-row line1">
        <div class="w3-col s12">
            <input id="url" type="text" placeholder="url" class="w3-input" />
        </div>
        <div class="w3-col s6">
            <button id="yt" onclick="play('yt')" class="w3-btn w3-red">YouTube</button>
        </div>
        <div class="w3-col s6">
            <button id="twitch" onclick="play('twitch')" class="w3-btn w3-purple">Twitch</button>
        </div>
    </div>
    <div class="w3-row line2">
        <div class="w3-col s6">
            <button id="down" onclick="toggle('volumedown')" class="w3-btn w3-teal">-</button>
        </div>
        <div class="w3-col s6">
            <button id="up" onclick="toggle('volumeup')" class="w3-btn w3-teal">+</button>
        </div>
    </div>
    <div class="w3-row line3">
        <div class="w3-col s3">
            <button id="left" onclick="toggle('backward')" class="w3-btn w3-blue-grey">Left</button>
        </div>
        <div class="w3-col s6">
            <button id="space" onclick="toggle('playpause')" class="w3-btn w3-indigo">Play / Pause</button>
        </div>
        <div class="w3-col s3">
            <button id="right" onclick="toggle('forward')" class="w3-btn w3-blue-grey">Right</button>
        </div>
    </div>
    <div class="w3-row line4">
        <div class="w3-col s12">
            <button id="stop" onclick="toggle('stop')" class="w3-btn w3-red">Stop</button>
        </div>
    </div>
    <div class="w3-row line5">
        <div class="w3-col s6">
            <button id="shutdown" onclick="shutdown('off')" class="w3-btn w3-black">Shutdown Pi</button>
        </div>
        <div class="w3-col s6">
            <button id="reboot" onclick="shutdown('reboot')" class="w3-btn w3-black">Reboot Pi</button>
        </div>
    </div>

    <script src="./script.js"></script>
</body>

</html>